setuptools
wheel 
ansible 
jinja2 
netaddr 
pbr 
hvac 
shade

python-openstackclient

ansible-modules-hashivault 
ansible-shell
ansible-toolkit
ansible-toolset
ansible-conductor
ansible-role
ansible-troll
ansible-docgenerator
ansible-container
ansible-docgen
ansible-review
ansible-playbook-debugger
ansible-inventory-grapher

